.container-sign{
    min-height: 100%;
    width: 100%;
    background-color: #1A2D40;
    position: absolute;
}

.form-box{
    width: 380px;
    position: relative;
    margin-top: 1rem !important;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
    border-radius: 10px;

}

.farmer {
    height: 650px;
}

.corporate {
    height: 470px;
}

.login{
    height: 335px;
}

.heading{
    width: 220px;
    margin: 35px auto;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    box-shadow: 0 0 20px 9px rgba(255, 210, 0, 0.4);
    border-radius: 30px;
}

.input-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
    left: 50px;
    display: inline-block;
    text-align: center;
}

.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.select-field{
    width:100%;
    border: none;
    border-bottom: 1px solid #999;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 1rem;
    background: #1A2D40;
    border: 0;
    color: #FFD200;
    outline: none;
    border-radius: 10px;
}

.submit-btn:hover{
    background: #FFD200;
    color: #1A2D40
}

.check-box{
    margin: 50px 10px 30px 0;
}
