.topbarContainer {
  height: 5rem;
  /* margin-bottom: 1rem; */
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 2;
}

.logo {
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbarCenter {
  flex: 7;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 1rem;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 2rem;
  font-size: 1rem;
  display:inline;
  color: white;
  text-decoration: none !important;
  cursor: pointer;
}
.topbarLink:visited{
    color: white;
}
.topbarLink:hover{
    color: black;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 1rem;
  cursor: pointer;
  position: relative;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .topbarLink {
    display: none;
  }
}
