
body {
    /* font-family: 'open sans'; */
    overflow-x: hidden; }

  img {
    width: 50vw;
    max-width: 100%;
    padding: 1%;
    min-height: 100%;
 }

  .card {
    margin-top: 50px;
    background: #eee;
    /* padding: 3em; */
    line-height: 1.5em; }

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

  .add-to-cart {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover {
      background: #b36800;
      color: #fff; }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:black;
    height: 1px;
    opacity: 0.5;
  }

  td{
      align-content: center;
      text-align: center;
  }

  .equalDivide tr td th{ width:25%; }
