/* div.main {
    padding: 5px 50px 75px 50px;
}

span,img {
    vertical-align: middle;
 }

.brand-logo > span,.brand-logo > img {
    vertical-align: middle;
} */

.chart-container{
    margin: 0 auto;
    width: 80%;
    height: 20rem !important;
}
.bg-grey{
    background-color: #eee;
}
